@import './base.css';

#app {
  width: 100%;
  max-width: 100%;
  margin: 0 0;
  /* padding: 2rem; */
  font-weight: normal;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    /* place-items: center; */
    /* padding: 2rem; */
  }

  #app {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 150px 1fr;
    /* padding: 0 2rem; */
  }
}
